<% layout("/layouts/boilerplate.ejs"); %>

<div class="container center-content mb-4">
    <div class="col-6 offset-3">
        <h3 class="text-center mt-4">Profile</h3>
        <div class="mb-3">
            <strong><label for="user-pfp" class="form-label">Name</label></strong>
            <img src="<%= user.pfp.url %>" alt="" id="user-pfp">
        </div>
        <div class="mb-3">
            <strong><label for="user-name" class="form-label">Name</label></strong>
            <p id="user-name"><%= user.name %></p>
        </div>
        <div class="mb-3">
            <strong><label for="user-username" class="form-label">Username</label></strong>
            <p id="user-username"><%= user.username %></p>
        </div>
        <div class="mb-3">
            <strong><label for="user-email" class="form-label">Email address</label></strong>
            <p id="user-email"><%= user.email %></p>
        </div>
        <div class="mb-3">
            <strong><label for="user-contactnum" class="form-label">Contact Number</label></strong>
            <p id="user-contactnum"><%= user.contactnum %></p>
        </div>
    </div>
</div>
